.mainSection {
  padding: 1rem;
  position: relative;
  background-color: rgb(240, 240, 240);
  min-height: 90vh;
}

.sessionTabs {
    display: flex;
    justify-content: space-between;
}

.sessionTab {
    font-size: 1.1em;
    color: #ED224C;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px 25px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.1s;
}

.sessionTabActive,
.sessionTab:hover  {
    background-color: #ED224C;
    color: #fff;
}

.fa-caret-down, .fa-caret-up {
    color: #ED224C;
    font-size: 30px;
}

.cardContainer {
    border: 1px solid #ED224C;
    padding: 20px 30px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardImg {
    width: 40px;
    height: 40px;
}

.cardText1 {
    color: #ED224C;
    font-weight: bold;
}

.viewButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 50px;
    color: #fffefe;
    background-color: #ED224C;
    padding: 10px 20px;
}

.viewDropdown {
    margin-top: 5px;
    position: absolute;
}

.dropdownButton {
    cursor: pointer;
}

.cardMobileContainer {
    padding: 20px 20px 40px 20px;
    border: 1px solid #ED224C;
    border-radius: 10px;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    overflow-y: auto;
  }
  
.modal {
    padding: 2em 2em;
    background-color: #fff;
    height: fit-content;
    width: fit-content;
    position: relative;
    border-radius: 10px;
    width: 50vw;
}

.modalHeading {
    text-align: center;
    margin-top: -1em;
}

.closeBtn {
    font-weight: 800;
    margin-left: auto;
    background-color: #fa6b58;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.8em;
    cursor: pointer;
    font-size: 1.1em;
}

.cancelModalCloseIcon {
    font-size: 60px;
    background-color: #fc4545;
    color: #fff;
    border-radius: 50%;
    padding: 20px;
}

.cancelModalReverseIcon {
    font-size: 60px;
    background-color: #0599d0;
    color: #fff;
    border-radius: 50%;
    padding: 20px;
}

.teachersTable {
    margin-top: 4em;
  }
  
  .teachersTable table {
    width: 100%;
    border-collapse: separate;
  }
  
  .teachersTable tbody tr {
    cursor: pointer;
  }
  .teachersTable tbody td {
    padding: 0.8rem 0;
    /* border-top: 2px solid #ff8da4;
    border-bottom: 2px solid #ff8da4; */
  }
  
  .selectedRow td {
    padding: 0.8rem 0;
    border-top: 2px solid #ff8da4;
    border-bottom: 2px solid #ff8da4;
  }
  
  .selectedRow td:first-child{
    border-left: 2px solid #ff8da4;
    border-top: 2px solid #ff8da4;
    border-bottom: 2px solid #ff8da4;
    border-radius: 10px 0 0 10px;
  }
  
  .selectedRow td:last-child{
    border-right: 2px solid #ff8da4;
    border-top: 2px solid #ff8da4;
    border-bottom: 2px solid #ff8da4;
    border-radius: 0px 10px 10px 0px;
  }
  
  .teachersTable table th {
    background-color: #9ecde6;
    padding: 0.5rem;
  }
  
  .tableHeading p {
    display: inline-block;
  }
  
  .tableHeading i {
    margin-left: 5px;
    color: grey;
  }
  
  .col1,
  .col3,
  .col4,
  .col5,
  .col6 {
    text-align: center;
  }
  
  .col1 {
    font-size: 14px;
    color: red;
  }
  
  .verified{
    color: #5fd65b;
  }
  
  .col2 {
    display: flex;
    align-items: center;
  }
  
  
  .col2 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .col4 i{
      font-size: 25px;
      color: #ff0000;
  }
  
  .col5 i {
  font-size: 20px;
  color: #9ecde6;
  margin: 0 10px;
  }
  
  @media screen and (max-width:578px) {
    
    tr th:last-child{
      display: none;
    }
    tr td:last-child{
      display: none;
    }
    tr td:nth-child(5){
      border-right: 2px solid #ff8da4;
      border-top: 2px solid #ff8da4;
      border-bottom: 2px solid #ff8da4;
      border-radius: 0px 10px 10px 0px;
    }
  }

@media screen and (max-width: 992px) {
  .mainSection {
    padding: 2em 4rem;
    padding-left: 230px;
    width: 100%;
    background-color: transparent;
    min-height: 100vh;
  }

    .sessionTabs {
        border-radius: 5px;
        background-color: #ED224C;
        color: #fff;
        display: flex;
        align-items: center;
    }

    .sessionTab {
        text-align: center;
        width: 85%;
        margin-bottom: 1px;
    }

    .sessionTabHeading {
        border-right: 2px solid #fff;
        padding: 10px;
        text-align: center;
        width: 85%;
        font-size: 18px;
    }

    .sessionTabActive {
        background-color: #ED224C;
        color: #fff;
    }

    .sessionTabActiveDropdown {
        border-radius: 50px;
        background-color: #ED224C;
        color: #fff;
    }

    .arrowIcon {
        cursor: pointer;
        text-align: center;
        width: 15%;
    }

    .mobileDropdown {
        position: absolute;
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        margin-top: 5px;
        outline: 2px solid #ED224C;
        background-color: #fff;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .viewDropdown {
        position: relative;
    }

    .modal {
        width: 70vw;
    }
}

@media screen and (max-width: 578px) {
    .modal {
        width: 90vw;
    }
}