.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  overflow-y: auto;
}

.modal {
  padding: 1em;
  background-color: #fff;
  height: fit-content;
  width: fit-content;
  position: relative;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.modalHeading {
  text-align: center;
  margin-top: -1em;
}

.closeBtn {
  font-weight: 800;
  margin-left: auto;
  background-color: #fa6b58;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.8em;
  cursor: pointer;
  font-size: 1.1em;
}

.datetime {
  font-size: 12px;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
}

.buttons {
  border-radius: 10px;
  background-color: green;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}

.slots {
  margin: 1em 0 1em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 14em;
}

.slot_time {
  background-color: rgb(206, 139, 150);
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0.5em 0;
  padding: 0 1em;
}

.slot i {
  font-size: 0.9em !important;
  color: red;
  cursor: pointer;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-size: 0.8em !important;
  padding-top: 0 !important;
  padding-bottom: 5px !important;
}

.formGroup input,
.formGroup select {
  font-size: 0.8em !important;
  /* width: 80px; */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 10px;
  max-width: auto;
}

.saveSlotBtn {
  display: block;
  margin: 1em auto;
  padding: 0.6em 1em;
  border: 0;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
}

.addSlotBtn {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  padding: 0.5em;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
/* 
.rbc-btn-group button:nth-child(2){
  display: none !important;
} */
