.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100000;
  overflow-y: auto;
}

.modal {
  padding: 1.5em 1em;
  background-color: #fff;
  height: fit-content;
  width: fit-content;
  position: relative;
  top: 10vh;
  border-radius: 10px;
  text-align: center;
  max-width: 90vw;
}

.closeBtn {
  font-weight: 800;
  margin-left: auto;
  background-color: #fa6b58;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.8em;
  cursor: pointer;
  font-size: 1.1em;
}

.heading {
  color: #349ed2;
  background-color: #e7f3f9;
  padding: 0.5em 0.8em;
  border-radius: 10px;
  width: fit-content;
  margin: 0em auto 1em;
  font-size: 1.3em;
}

.modal input,
.modal textarea {
  width: 350px;
  border: 1px solid #9a9a9a;
  border-radius: 5px !important;
  font-size: 0.9em;
  padding: 13px;
  display: block;
  margin: 2em auto;
}

.modal textarea:focus-visible,
.modal input:focus-visible {
  outline: #4b4646;
}

.chooseFiles {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-top: 2em;
}
.chooseFiles button {
  background-color: #9ecde6;
  padding: 0.8em 1em;
  font-size: 0.9em;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.chooseFiles button input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.chooseFiles button i {
  margin-left: 10px;
}
.materialOptions {
  position: absolute;
  bottom: -65px;
  right: 0;
  background-color: #9ecde6;
  list-style: none;
  padding: 0.3em 0;
  border-radius: 5px;
  display: none;
}
.materialOptions li {
  padding: 0.3em 2em;
}

.materialOptions li:hover {
  background-color: #8abeda;
}

.materialOptions li:first-child {
  border-bottom: 1px solid #fff;
}
.submitButton {
  background-color: #5ad056;
  padding: 0.7em 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  border: 0;
  margin: 3em auto 0;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  color: #fff;
}

.submitButton i {
  margin-left: 15px;
  font-size: 1.1em;
}
.addLink,
.addFile {
  text-align: left;
}
.addLink input {
  margin: 0.5em 0 0;
}
.addLink button,
.addFile button {
  margin-top: 1.5em;
  background-color: #9ecde6;
  padding: 0.8em 2em;
  border-radius: 5px;
  border: 0;
  margin-right: 1em;
  cursor: pointer;
}
.addFile .chooseFiles {
  margin-top: 0;
}

@media screen and (max-width: 578px) {
  .modal input,
  .modal textarea {
    width: 90%;
  }
  .chooseFiles {
    width: 90%;
  }

  .modal {
    width: 85%;
  }
  .chooseFiles {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    align-items: center;
  }
  .chooseFiles button {
    width: 90%;
  }
}
