.mainSection {
    padding: 1rem;
    position: relative;
    background-color: rgb(240, 240, 240);
    min-height: 90vh;
}

@media screen and (min-width: 992px) {
    .mainSection {
      padding: 2em 4rem;
      padding-left: 230px;
      width: 80%;
      background-color: transparent;
      min-height: 100vh;
    }
}