@import url("./assets/_settings.css");

#root{
  height: 100vh;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: var(--regular);
  font-size: var(--default-size);
  margin: 0;
  padding: 0;
}

input:disabled,
textarea:disabled {
  border: 0 !important;
}

textarea {
  resize: vertical !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9ecde6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9ecde6;
}

iframe {
  border-radius: 5px;
}
