.inputContainer{
    display: flex;
    flex-direction: column;
    width:100%
}

.error{
    color:red;
    /* margin-bottom: 1.5rem; */
}

/* .errorField{
    border: 1px solid red;
} */

.inputContainer button{
    margin-top: 1rem;
}

@media screen and (min-width:700px) {
    .inputContainer{
        height: max-content;
        margin-top:-1vw
    }
    .inputContainer>button{
        padding: 0.8vw;
        font-size: 1vw;
    }
}

@media screen  and (max-width:700px)  {
    .inputContainer{
        margin-top:-8vw
    }
    .inputContainer>button{
        padding: 2.5vw;
        font-size: 4.5vw;
    }
}


