@import "./../__root.css";
.downloadBtn{
    border-radius: 10px;
    background-color:var(--bg-theme-light) ;
    color: var( --theme-color);
}

.topProfileVerification{
    height: 100px;
}
.topProfileVerification{
    font-weight: 600;
}
.searchInput input:focus{
    outline: none;
    box-shadow: none;
}
.searchInput{
    height: 40px;
    border-radius: 10px;
    background-color:var(--bg-theme-medium) ;
}